<div fxLayout="column" fxLayoutAlign="start center">
    <div fxFlex="10">
        <img src="/assets/logo/logo4.png" height="60px" alt="">
    </div>
    <div fxFlex style="width: 100%;">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Quienes somos?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Akram House es una inmobiliara que trae nuevos conceptos, Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est laboriosam maxime alias nihil omnis expedita, possimus, deserunt, doloremque voluptatum amet ea nulla debitis aspernatur temporibus facere voluptates beatae quam!.</p>
              </mat-expansion-panel>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Nuestros inmuebles
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Akram House es una inmobiliara que trae nuevos conceptos, Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est laboriosam maxime alias nihil omnis expedita, possimus, deserunt, doloremque voluptatum amet ea nulla debitis aspernatur temporibus facere voluptates beatae quam!.</p>
              </mat-expansion-panel>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Porqué confiar en nosotros?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Akram House es una inmobiliara que trae nuevos conceptos, Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est laboriosam maxime alias nihil omnis expedita, possimus, deserunt, doloremque voluptatum amet ea nulla debitis aspernatur temporibus facere voluptates beatae quam!.</p>
              </mat-expansion-panel>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Políticas de alquiler
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Akram House es una inmobiliara que trae nuevos conceptos, Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est laboriosam maxime alias nihil omnis expedita, possimus, deserunt, doloremque voluptatum amet ea nulla debitis aspernatur temporibus facere voluptates beatae quam!.</p>
              </mat-expansion-panel>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Políticas de cancelación
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Akram House es una inmobiliara que trae nuevos conceptos, Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est laboriosam maxime alias nihil omnis expedita, possimus, deserunt, doloremque voluptatum amet ea nulla debitis aspernatur temporibus facere voluptates beatae quam!.</p>
              </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>